
body {
    margin: 0;
}

.editors {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.leftEditor {
    width: 50%;
    height: 100%;
}

.rightEditor {
    width: 50%;
    height: 100%;
}